@{
    ViewData["Title"] = "All invoices";
}

<h4 class="heading-margin text-center">All reservations</h4>
<form method="get">
    <div class="row">
        <div class="form-group form-group col-md-3 offset-md-4">
            <label></label>
            <input class="form-control" id="searchField">
        </div>
        <div class="form-group col-md-3 mt-1 ml-4">
            <input type="submit" class="btn btn-md btn-success heading-margin" id="searchBtn" value="Search" />
        </div>
    </div>
</form>
<div class="row col-12 justify-content-center">
    <div class="border col-2 font-weight-bold text-center bg-primary text-white" style="word-wrap:break-word">
        Invoices for reservation
    </div>
    <div class="border col-1 font-weight-bold text-center bg-primary text-white" style="word-wrap:break-word">
        Status
    </div>
    <div class="border font-weight-bold col-1 text-center bg-primary text-white" style="word-wrap:break-word">
        Paid
    </div>
    <div class="border font-weight-bold col-1 text-center bg-primary text-white" style="word-wrap:break-word">
        Edit
    </div>
</div>