@model ChangeUserRoleFormModel

@{
    ViewData["Title"] = "Change role";
}

@await Html.PartialAsync("_NavMenuPartial")

<h4 class="heading-margin text-center mt-5">Change role</h4>
<div class="row col-md-4 offset-md-4 ">
    <p class="text-justify">
        <span class="text-info font-weight-bold">Additional information: </span>
        From here you can change password on selected user!
    </p>
</div>

<div class="row col-6 offset-3">
    <div class="form-outline mb-4 text-center">
        <label class="font-weight-bold">Email: @Model.Email</label>
    </div>
    <form method="post">
        <div class="form-outline mb-4">
            <label class="form-label" asp-for="RoleName"></label>
            <select id="form6Example3" class="form-control" asp-for="RoleName" asp-items="@Model.Roles"></select>
            <span asp-validation-for="RoleName" class="text-danger small"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Change" class="btn btn-warning col-md-4 offset-md-4 col-sm-4 offset-sm-4" />
    </form>
</div>
