@model AddCountryFormModel

@{
    ViewData["Title"] = "Add country";
}

@await Html.PartialAsync("_NavMenuPartial")

<h4 class="heading-margin text-center">Add country</h4>
<div class="row col-md-4 offset-md-4 ">
    <p class="text-justify">
        <span class="text-info font-weight-bold">Additional information: </span>
        System not allow to have two countries with the same name!
    </p>
</div>
<form method="post" class="col-md-4 offset-md-4 col-sm-12">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger small"></span>
    </div>
    <input type="submit" value="Add" class="btn btn-warning col-md-4 offset-md-4 col-sm-4 offset-sm-4" />
</form>