@model AddRoomTypeFormModel

@{
    ViewData["Title"] = "Add room type";
}

<div class="row">
    <h4 class="heading-margin text-center">Edit room type</h4>
    <form method="post" class="col-md-4 offset-md-4 col-sm-12">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" value="@Model.Name">
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" value="@Model.Price">
            <span asp-validation-for="Price" class="text-danger small"></span>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfBeds"></label>
            <input asp-for="NumberOfBeds" class="form-control" value="@Model.NumberOfBeds">
            <span asp-validation-for="NumberOfBeds" class="text-danger small"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" value="@Model.Image">
            <span asp-validation-for="Image" class="text-danger small"></span>
        </div>
        <input type="submit" value="Save" class="btn btn-primary col-md-4 offset-md-4 col-sm-4 offset-sm-4" />
    </form>
</div>