<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Hotel Management System</title>
    <!-- Favicon-->
    <!--<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- <link href="css/styles.css" rel="stylesheet" /> -->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><img src="~/images/hotelLogo.png" alt="Hotel logo" width="200" height="118"/></div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Home" asp-action="Index">
                    <img class="navMenuIcon" src="~/images/homeButton.png">Home
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Rooms" asp-action="All">
                    <img class="navMenuIcon" src="~/images/roomButton.png">Rooms
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="RoomTypes" asp-action="All">
                    <img class="navMenuIcon" src="~/images/roomTypeButton.png">Room Types
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Reservations" asp-action="All">
                    <img class="navMenuIcon" src="~/images/reservationButton.png">Reservations
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Vouchers" asp-action="All">
                    <img class="navMenuIcon" src="~/images/voucherButton.png">Vouchers
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Guests" asp-action="All">
                    <img class="navMenuIcon" src="~/images/guestButton.png">Guests
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="GuestRanks" asp-action="All">
                    <img class="navMenuIcon" src="~/images/guestRanksButton.png">Guest Ranks
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" asp-controller="Invoices" asp-action="All">
                    <img class="navMenuIcon" src="~/images/invoiceButton.png">Invoices
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                    <img class="navMenuIcon" src="~/images/userAdministration.png">User Administration
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                    <img class="navMenuIcon" src="~/images/settingsButton.png">System Settings
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
                    <img class="navMenuIcon" src="~/images/aboutUsButton.png">About Us
                </a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-light" id="sidebarToggle">
                        <img class="menuIcon" src="~/images/menuIcon.png" />

                    </button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <!-- Bootstrap core JS-->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>-->
    <!-- Core theme JS-->
</body>
</html>

